body {
  padding-top: 60px; }

header {
  max-height: 50vh;
  height: 50vh;
  overflow: hidden; }
  header img {
    margin-top: 100px;
    height: 200px; }
  header h3 {
    margin-top: 170px; }

section h1 {
  height: 100px;
  margin-bottom: 1em;
  color: #fff;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }

#initiatives h1 {
  background-image: url(../images/bgs/1.jpg); }

#services h1 {
  background-image: url(../images/bgs/2.jpg); }

#about h1 {
  background-image: url(../images/bgs/3.jpg); }

#clients h1 {
  background-image: url(../images/bgs/4.jpg); }

.initiatives img {
  width: 100%; }

.service h2 {
  text-transform: uppercase; }

.about > h2 {
  margin-top: 1em;
  padding-bottom: 0.5em;
  color: #888;
  letter-spacing: 0.09em;
  border-bottom: 1px solid #ccc; }

.team img {
  width: 100%;
  border-radius: 50%; }

.clients img {
  opacity: 0.5;
  -webkit-transition: all 0.5s;
          transition: all 0.5s; }
  .clients img:hover {
    opacity: 1; }

footer {
  max-height: 350px;
  height: 350px;
  padding-top: 2em;
  background: #333; }
  footer .nav, footer .contact {
    color: #ccc; }
  footer .contact {
    margin-top: 0px;
    border-left: 1px solid #ccc; }
